
<div class="full-pitch">
  <h4 style="color:#777; margin-bottom:2.5px;">
    여러분을 <strong style="color:#000;">그 지역 로컬처럼 만들어주는 b.local</strong>입니다. 
    주제별, 지역별 정보를 보고 <strong style="color:#000;">모아두세요</strong>. </h4><h4 style="color:#777; margin-top:2.5px;">
    현재 <strong style="color:#000;">총 <%= @pins.size %>개의 리스트, <%= @comments.size %>개의 플레이스</strong>가 등록되어 있습니다. 
  </h4>
      <p style="margin:10px 0 0;">
       <%= link_to "자세히 알아보기", about_path, class: "btn btn-default"%>
       <%= link_to "가입하기", new_user_registration_path, class: "btn btn-danger" %>
      </p> 
</div>