// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
	margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.list {
  margin: 10px;
  width: 240px;
}

.list img {
	width: 100%;
	height: 240px;
}

.favorite {
	font-size: 30px;
	position: relative;
	float: right;
	margin-top: -245px;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.profile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}

.liststat img {
	width: 25px;
	height: 25px;
}

.listprofile img {
	float: right;
	margin-top: -35px;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
}

.showprofile img {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	margin-bottom: 15px;
}

.mainprofile img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	border-style:solid; 
	border-width:2px; 
	border-color:#eeeeee;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.nav > li img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	border-style:solid; 
	border-width:2px; 
	border-color:#eeeeee;
}

.carousel-imagetag {
	margin: auto;
}

.placecreate-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 141px;
}
